<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="whatsapp">

    <ion-pane>

      <ion-header-bar class="bar-balanced">
        <h1 class="title">WhatsApp</h1>
      </ion-header-bar>

      <ion-content ng-controller="UsuarioListaCtrl">

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="search.nome">
          </label>
        </div>

          <ion-list>

            <ion-item ng-repeat="usuario in usuarios | orderBy:'nome' | filter:search ">
              <h2>{{usuario.nome}}</h2>
              <p>{{usuario.email}}</p>
              <p>{{usuario.endereco.rua}}</p>
            </ion-item>

          </ion-list>

      </ion-content>

    </ion-pane>

  </body>
</html>
